.height{
    height:200px;
}
.border1{
    border: solid 1px black;
}

a{
    cursor: pointer;
}

.no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .no-spinner {
      -moz-appearance: textfield;
    }